// Responsive sizes
$laptop: 1450px; // laptop and large screen
$mini-laptop: 991px; // mini-laptop devices (tablets, laptop) - 992px
$medium: 767px; // Medium devices (tablets) - 768px
$small: 575px; // Small devices (mini-laptop phones) - 576px

$shadow: 0 0 10px rgb(27, 18, 18);

// colors

$orange: rgb(232, 139, 77);
$black: #000;
$lightblack: #4a4a4a;
$borderbox: rgb(224, 216, 216);

//paragraph colors

$text-color: #918c8c;
